
@{
    ViewBag.Title = "SuccessRegister";
}

<div class="jumbotron">
    <h2>SuccessRegister</h2>
    <p class="lead">Регистрация успешно пройдена! Теперь вы можете пользоваться сервисами GPS Tracker.</p>
    @Html.ActionLink("Вернуться на главную страницу", "Index", "Home")
</div>


