
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Физическое лицо", "Create", "IndividualClientsController")
</p>

<p>
    @Html.ActionLink("Юридическое лицо", "Create", "LegalClientsController")
</p>