@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>GPS Tracker - Web сайт, выполненный в рамках курсовой работы по дисциплине "Объектно-ориентированное программирование". Выполнил Камилов Э.М., студент гр. 607-61.</p>
