@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Creator:</strong><a href="mailto:erkimkamilov@gmail.com"> erkimkamilov@gmail.com</a><br />
    <strong>Github:</strong><a href="https://github.com/erikrause/GPSTracker-3-tier_architecture"> github.com/erikrause/GPSTracker-3-tier_architecture</a>
</address>  